.h1{
    background-color: rgb(77, 177, 177);
    text-align: center;
}
.bigCount {
    background-color: rgb(118, 161, 161);
    text-align: center;
}
.bigSum{
    background-color: rgb(113, 139, 139);
        text-align: center;
    
}
.bigNum {
    background-color: rgb(99, 117, 117);
    text-align: center;

}



  